<h1>This is <%= @kitten.name %>!</h1>

<p>
  <%= @kitten.name %> is <%= @kitten.age %> years old! Also look at this...
  <%= @kitten.name %> has a cuteness level of <%= @kitten.cuteness %> and a
  softness level of <%= @kitten.softness %>. Wow!
</p>

<%= link_to 'Edit', edit_kitten_path(@kitten) %>
<%= link_to 'Delete', kitten_path(@kitten), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
